.group-section {
  background: $color-white;
  min-height: 80vh;

  .group-members-count {
    color: $color-light-grey-1;
    font-size: 1.4rem
  }

  .group-nav {
    overflow: auto;
    white-space: nowrap;

    @include respond(tab-port) { // width < 900?
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    &::-webkit-scrollbar {
      @include respond(tab-port) { // width < 900?
        display: none;
      }
    }
  }

  #group-textarea {
    width: 100%;
    background-color: $color-light-grey-3;
    border: 1px solid $color-light-grey-3;
    border-radius: 4px;
    padding: 2rem 1rem;
    color: $color-light-grey-1;

    &:focus {
      outline: none;
    }
  }

  .group-post-box {
    border: 1px solid $color-light-grey-3;
    border-radius: 4px;
    .user-info {
      position: relative;
      display: inline-block;
      width: 80%;

      .user-link {
        text-decoration: none;
        display: inline-block;

        .user-img {
          display: inline-block;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }

        .user-name {
          display: inline-block;
          font-size: 1.7rem;
          color: $color-black;
          position: absolute;
          right: 6.4rem;
          top: 5%;
        }
      }

      .sponser {
        display: inline-block;
        position: absolute;
        right: 6.4rem;
        top: 60%;
        font-size: 1.3rem;
        color: $color-light-grey-3;
      }
    }

    .group-post {
      &-caption {
        font-size: 1.4rem;
      }

      .post-img {
        border-radius: 4px;
      }
    }
  }

  .group-images,
  .group-videos {
    .group-img-container,
    .group-video-container {
      border-radius: 4px;
      overflow: hidden;
    }

    .group-img {
      @include respond(tab-port) { // width < 900?
        margin-bottom: 1rem;
      }
    }

    .group-video {
      @include respond(tab-port) { // width < 900?
        margin-bottom: 1rem;
      }
    }
  }

  .group-about {
    .heading-tertiary {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .paragraph {
      color: $color-light-grey-1;
      padding-left: 40px;

      @include respond(tab-port) { // width < 900?
        padding-left: 0;
      }
    }

    .group-rules {
      margin-top: 6rem;
    }
  }

  .group-members {
    .heading-tertiary {
      font-size: 1.6rem;
    }


    .members-list {
      .members-item {
        box-shadow: 0 3px $color-light-grey-2;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        .group-member {
          .group-member-link {
            text-decoration: none;

            &_span {
              margin-right: 1rem;
            }
            
            .member-img {
              height: 5rem;
              width: 5rem;
              border-radius: 50%;
            }

            .user-name,
            .user-followers {
              margin-bottom: 0;
            }

            .user-name {
              color: $color-black;
              font-size: 1.4rem;
              margin-bottom: 4px;
            }

            .user-followers {
              color: $color-light-grey-1;
              font-size: 1rem;
            }
          }
        }
      }

      .members-item:not(:last-child) {
        margin-bottom:1rem;
      }
    }
  }

  .group-mygroups {
    .card {
      border-radius: 4px;
      box-shadow: 0 3px $color-light-grey-2;
      margin-bottom: 3rem;
  
      .card-title {
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }
}